<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.studyproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.group.studyproject.Center">
        <activity
            android:name="com.group.studyproject.AppListingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.buttonclicktechns.ButtonMainActivity"/>
        <activity android:name="com.example.configchangehandle.ConfigActivity"/>
        <activity android:name="com.example.framelayout.FrameMainActivity"/>
        <activity android:name="com.example.intenttest.MainActivity"/>
        <activity android:name="com.example.intenttest.ListPage"/>
        <activity android:name="com.example.intenttest.MyParcelActivity"/>
        <activity android:name="com.example.intenttest.PageOne"/>
        <activity android:name="com.example.intenttest.PageTwo"/>
        <activity android:name="com.example.intenttest.PageThree"/>
        <activity android:name="com.example.linearlayout.LinearMainActivity"/>
        <activity android:name="com.example.listactivitytest.ListactivityMainActivity"/>
        <activity android:name="com.example.listactivitytest.ActivityListActivityMain"/>
        <activity android:name="com.example.listactivitycursortest.ListactivityMainActivity"/>
        <activity android:name="com.example.preferenceactivity.PreferenceMainActivity"/>
        <activity android:name="com.example.preferenceactivity.PrefAct"/>
        <activity android:name="com.example.relativelayout.RelativeMainActivity"/>
        <activity android:name="com.example.tablelayout.TableLayoutMainActivity"/>
        <activity android:name="com.example.tabview.TabViewMainActivity"/>
        <activity android:name="com.example.tabact.TabActivityMainActivity"/>         
        <activity android:name="com.example.tabact.Act1"/>
        <activity android:name="com.example.tabact.Act2"/>
    </application>

</manifest>
