<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.studyproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <!-- Assignment 1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.sgxp.studyproject.Center">
        <activity
            android:name="com.sgxp.studyproject.AppListingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.sgxp.buttonclicktechns.ButtonMainActivity"/>
        <activity android:name="com.sgxp.configchangehandle.ConfigActivity"/>
        <activity android:name="com.sgxp.framelayout.FrameMainActivity"/>
        <activity android:name="com.sgxp.intenttest.MainActivity"/>
        <activity android:name="com.sgxp.intenttest.ListPage"/>
        <activity android:name="com.sgxp.intenttest.MyParcelActivity"/>
        <activity android:name="com.sgxp.intenttest.PageOne"/>
        <activity android:name="com.sgxp.intenttest.PageTwo"/>
        <activity android:name="com.sgxp.intenttest.PageThree"/>
        <activity android:name="com.sgxp.linearlayout.LinearMainActivity"/>
        <activity android:name="com.sgxp.listactivitytest.ListactivityMainActivity"/>
        <activity android:name="com.sgxp.listactivitytest.ActivityListActivityMain"/>
        <activity android:name="com.sgxp.listactivitycursortest.ListactivityMainActivity"/>
        <activity android:name="com.sgxp.preferenceactivity.PreferenceMainActivity"/>
        <activity android:name="com.sgxp.preferenceactivity.PrefAct"/>
        <activity android:name="com.sgxp.relativelayout.RelativeMainActivity"/>
        <activity android:name="com.sgxp.tablelayout.TableLayoutMainActivity"/>
        <activity android:name="com.sgxp.tabview.TabViewMainActivity"/>
        <activity android:name="com.sgxp.tabact.TabActivityMainActivity"/>         
        <activity android:name="com.sgxp.tabact.Act1"/>
        <activity android:name="com.sgxp.tabact.Act2"/>
        <activity android:name="com.sgxp.googleindexing.MainActivity"/>
        
        <!-- Assignment 1  -->
        <activity android:name="com.sgxp.asgmt1.assignment.MainActivity" android:label="@string/app_name" />
        <activity android:name="com.sgxp.asgmt1.assignment.MainWebActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
 		<provider android:name="com.sgxp.asgmt1.provider.MyContentProvider" android:authorities="com.tv.provider.MyContentProvider" android:exported="false" />
		<service android:name="com.sgxp.asgmt1.assignment.MainIntentService" />
        
    </application>

</manifest>
